<!--
  templates/audio_ui/index.html
  Used as the initial index page when first logging into the web app
  - This will include recording audio or choosing a previously 
    recorded/processed audio file
-->
<!-- inherit _base.html -->
{% extends '_base.html' %}


{% load static %}



<!-- page_title comes from passed in context from views.py -->
{% block title %} {{page_title}} {% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="text-center"> Details for Your Recording!</h1>
    <p class="text-center">On this page, you can see the outputs of our audio
      processing functions on our input audio. Currently processing: 
      {{record.name}}.wav
    </p>
    <div>
      <p>Playback your original audio:</p>
      <audio src="{{record.voice.url}}" controls></audio>
    </div>
    <div>
      <p>Here is the Time vs Amplitude graph from the original audio:</p>
      <img src="/media/graphs/o_time.png">
      <p>Here is the Frequency vs Amplitude graph from the original audio
        after it was run through a Fourier Transform:</p>
      <img src="/media/graphs/o_freq.png">
      <p>Here is a spectrogram, showing the intensity of certain frequencies
        with respect to time from the original audio</p>
      <img src="/media/graphs/o_spectro.png">
      <p>Lastly, we have applied a filter on the original audio such that 
        only frequencies reproducable by piano keys remain. We layered this
        piano-key audio on top of the original audio to show the difference:
      </p>
      <img src="/media/graphs/fin_freqLayer.png">
    </div>
  </div>
  <div>
    <p>Here is our Piano visualized!</p>
    <div id="pianolizer">
      <!--
      <canvas id="spectrogram"></canvas>
      -->
      <br>
      <svg id="keyboard"></svg>
    </div>
    <button style="text-align: center" id="visualButton" class="btn btn-danger">Visualize</button>
    <button style="text-align: center" id="playTest" class="btn btn-danger">PlayTest</button>

    <button style="text-align: center" id="play25" class="btn btn-danger"
      onclick="playNote(24)">Note 25</button>

    <button style="text-align: center" id="play32" class="btn btn-danger"
      onclick="playNote(31)">Note 32</button>

    <input type="hidden" value={{noteArray}} id="noteArray">
    <button style="text-align: center" id="playArray" class="btn btn-danger"
      onclick="getArray()">Play Arrays!</button>

    

    
  </div>

</section>


<script src="{% static 'assets/js/visualizer.js' %}">
  //let noteArray = "{{noteArray|escapejs}}"
  

</script>

{% endblock content %}